/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
  }
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 26px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #702121;
    color: rgb(188, 126, 10);
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #c1a412;
    color: white;
  }
  
  /* Hide the icon that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  /* Style for page content */
  .content {
    padding: 14px;
    font-size: 22px;
  }
  
  /* When the screen is less than 800 pixels wide */
  @media screen and (max-width: 800px) {
    /* Hide all links, except for the selected tab */
    .topnav a:not(.active) {
      display: none;
    }
  
    /* Show the icon that should open and close the topnav */
    .topnav a.icon {
      float: left;
      display: block; 
    }
  }
  
  /* When the screen is less than 800 pixels wide, if the user clicks on the icon */
  /* the "responsive" class attribute will be added to the topnav by the JavaScript code */
  /* This media query sets the style for the unfolded topnav */
  /* It makes the topnav look good on small screens (display the links vertically instead of horizontally)  */
  @media screen and (max-width: 800px) {
    .topnav.responsive {
      position: relative;
    }
  
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  .alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}